.u-section-1 .u-sheet-1 {
  min-height: 3654px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.2;
  animation-duration: 1000ms;
  font-weight: 500;
  margin: 24px 484px 0 485px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 28px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 256px;
  height: 391px;
  background-image: none;
  margin: 55px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -403px 470px 0 0;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 395px;
  margin: -395px 51px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 65px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 207px;
  height: 373px;
  background-image: none;
  margin: 61px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -392px 0 0 475px;
}

.u-section-1 .u-image-2 {
  width: 222px;
  height: 377px;
  margin: -377px auto 0 43px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 68px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 382px;
  height: 228px;
  background-image: none;
  margin: 61px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -269px 570px 0 0;
}

.u-section-1 .u-image-3 {
  width: 419px;
  height: 241px;
  margin: -272px 43px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 55px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.u-section-1 .u-shape-4 {
  width: 420px;
  height: 247px;
  background-image: none;
  margin: 71px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 428px;
  height: 254px;
  margin: -298px auto 0 48px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -227px -22px 0 570px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 35px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.u-section-1 .u-shape-5 {
  width: 256px;
  height: 302px;
  background-image: none;
  margin: 83px 0 0 auto;
}

.u-section-1 .u-image-5 {
  width: 259px;
  height: 315px;
  margin: -364px 51px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -293px 581px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 40px 0 0;
}

.u-section-1 .u-shape-6 {
  width: 694px;
  height: 426px;
  background-image: none;
  margin: 108px auto 0 203px;
}

.u-section-1 .u-image-6 {
  width: 709px;
  height: 440px;
  margin: -494px 171px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 108966px;
  }

  .u-section-1 .u-text-1 {
    width: 171px;
    margin-top: 492px;
    margin-right: 184px;
    margin-left: 785px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 5728px;
    margin-right: auto;
    margin-left: 395px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -5934px;
    margin-right: 724px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -166px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -344px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 1717px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -2138px;
    margin-right: 370px;
    margin-left: 770px;
  }

  .u-section-1 .u-image-2 {
    height: 378px;
    margin-top: 4102px;
    margin-right: 387px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -4433px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 53294px;
    margin-left: 245px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -53486px;
    margin-right: 740px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 3479px;
    margin-left: 347px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -3601px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-4 {
    width: 470px;
    margin-top: 41002px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -24543px;
    margin-right: 212px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -17035px;
    margin-right: 370px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 68px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-5 {
    width: 570px;
    margin-top: 25603px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -11575px;
    margin-right: auto;
    margin-left: 341px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -14701px;
    margin-right: 740px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -41px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 8043px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -7147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 193288px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -146px;
    margin-left: 1115px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 6184px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6390px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 594px;
    margin-left: 311px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1104px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 2097px;
    margin-left: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -2518px;
    margin-right: 150px;
    margin-left: 990px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 4482px;
    margin-right: auto;
    margin-left: 246px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -4813px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 100224px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -100416px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 3783px;
    margin-left: 327px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -3905px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-4 {
    width: 360px;
    margin-top: 72656px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -55970px;
    margin-right: 192px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -17263px;
    margin-right: 150px;
    margin-left: 990px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 40917px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -26775px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -14815px;
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 300px;
    margin-left: 840px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 8044px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -7148px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: -416px;
    margin-left: 1385px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 6944px;
    margin-right: 105px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -7150px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1658px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2168px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 2667px;
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -3088px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 4987px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -5318px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 4174px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -4296px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-shape-4 {
    width: 270px;
    margin-top: 72655px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -55665px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -17567px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 95px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
    margin-top: 40890px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -26634px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -14929px;
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-text-14 {
    margin-right: -60px;
    margin-left: 1200px;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
    margin-top: 8017px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 335px;
    margin-right: 0;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 193122px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -716px;
    margin-left: 1685px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 9766px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -9972px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4394px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -4860px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 4987px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -5408px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 6929px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7260px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-top: 100036px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -100228px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 196px;
    margin-top: 5584px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -5699px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-4 {
    width: 170px;
    margin-top: 72500px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 202px;
    margin-top: -54680px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -18336px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 62px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-text-12 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-top: 40810px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -26250px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: -15233px;
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-text-14 {
    margin-right: -460px;
    margin-left: 1600px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
    margin-top: 7937px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 211px;
    margin-left: auto;
  }
}