.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-shape-1 {
  width: 776px;
  height: 272px;
  background-image: none;
  margin: 345px auto 0 148px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 870px;
  margin: -588px 0 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 527px;
  background-image: url("images/istockphoto-544135528-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: 504px;
  min-height: 326px;
  background-image: none;
  margin: -461px auto 60px -11px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 -14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-shape-1 {
    width: 690px;
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 698px;
    margin-top: -484px;
  }

  .u-section-1 .u-image-1 {
    min-height: 412px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    min-height: 252px;
    margin-top: -352px;
    margin-bottom: -7px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 21px;
    padding-left: 12px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-shape-1 {
    width: 481px;
    margin-left: 304px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-group-1 {
    width: 445px;
    margin-left: calc(((100% - 1140px) / 2) + -89px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-shape-1 {
    width: 451px;
    margin-right: 319px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    min-height: 427px;
  }

  .u-section-1 .u-group-1 {
    width: 417px;
    margin-left: calc(((100% - 1140px) / 2) + 75px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: -14px;
    margin-right: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-shape-1 {
    width: 296px;
    margin-right: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    min-height: 269px;
  }

  .u-section-1 .u-group-1 {
    width: 350px;
    margin-left: calc(((100% - 1140px) / 2) + 259px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 7px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 54px 797px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 45px 639px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 26px 627px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 451px;
  height: 280px;
  background-image: none;
  margin: -241px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 458px;
  height: 275px;
  margin: -335px 64px 0 auto;
}

.u-section-2 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-size: 1rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 64px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 596px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 628px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 556px;
  }

  .u-section-2 .u-shape-1 {
    width: 447px;
    height: 279px;
  }

  .u-section-2 .u-image-1 {
    width: 462px;
    height: 291px;
    margin-right: 44px;
  }

  .u-section-2 .u-link-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 516px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 250px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 387px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 350px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 244px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 214px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 777px;
}

.u-section-3 .u-text-1 {
  margin: 44px 987px 0 0;
}

.u-section-3 .u-shape-1 {
  height: 181px;
  width: 307px;
  margin: 456px auto 0 52px;
}

.u-section-3 .u-shape-2 {
  height: 336px;
  width: 303px;
  margin: -336px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -607px 863px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  font-size: 1.25rem;
  width: 265px;
  margin: -352px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: -448px 0 0 855px;
}

.u-section-3 .u-image-1 {
  width: 250px;
  height: 345px;
  margin: 18px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 311px;
  height: 190px;
  margin: -182px auto 0 0;
}

.u-section-3 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: -16px auto 71px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 787px;
  }

  .u-section-3 .u-shape-1 {
    height: 275px;
    width: 204px;
    margin-right: 40px;
  }

  .u-section-3 .u-shape-2 {
    height: 144px;
    width: 246px;
    margin-left: 40px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 695px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 338px;
    margin-left: 369px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 711px;
  }

  .u-section-3 .u-image-1 {
    width: 203px;
    height: 280px;
  }

  .u-section-3 .u-image-2 {
    width: 245px;
    height: 149px;
  }

  .u-section-3 .u-link-1 {
    font-size: 0.875rem;
    margin-top: -15px;
    margin-right: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 567px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 475px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 259px;
    margin-right: 228px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -18px;
    margin-left: 491px;
  }

  .u-section-3 .u-image-2 {
    height: 150px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 387px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 295px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 138px;
    margin-left: 169px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 311px;
  }

  .u-section-3 .u-link-1 {
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 187px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 95px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 38px;
    margin-left: 69px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 111px;
  }

  .u-section-3 .u-link-1 {
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 58px 654px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 436px;
  height: 248px;
  margin: -22px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -162px 786px 0 47px;
}

.u-section-4 .u-image-1 {
  width: 440px;
  height: 248px;
  margin: -142px auto 0 653px;
}

.u-section-4 .u-shape-2 {
  width: 438px;
  height: 294px;
  margin: -59px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -177px 375px 0 621px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0 621px;
}

.u-section-4 .u-image-2 {
  width: 454px;
  height: 304px;
  margin: -304px auto 0 47px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: -345px 721px 0 336px;
}

.u-section-4 .u-shape-3 {
  width: 436px;
  height: 288px;
  margin: 407px 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -335px 955px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 15px 639px 0 0;
}

.u-section-4 .u-image-3 {
  width: 436px;
  height: 299px;
  margin: -285px auto 0 653px;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 9px 305px 0 714px;
}

.u-section-4 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: -23px auto 60px 484px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-right: 454px;
  }

  .u-section-4 .u-shape-1 {
    width: 371px;
    height: 235px;
    margin-top: 628px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -807px;
    margin-right: 636px;
    margin-left: 66px;
  }

  .u-section-4 .u-image-1 {
    width: 343px;
    height: 198px;
    margin-top: -136px;
    margin-right: 46px;
    margin-left: 500px;
  }

  .u-section-4 .u-shape-2 {
    width: 359px;
    height: 246px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -220px;
    margin-right: 275px;
    margin-left: 521px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 513px;
  }

  .u-section-4 .u-image-2 {
    width: 371px;
    height: 247px;
    margin-top: -230px;
    margin-left: 33px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -282px;
    margin-right: 581px;
    margin-left: 276px;
  }

  .u-section-4 .u-shape-3 {
    width: 336px;
    height: 185px;
    margin-top: -294px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 420px;
    margin-right: 755px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 19px;
    margin-right: 470px;
  }

  .u-section-4 .u-image-3 {
    width: 371px;
    height: 247px;
    margin-top: -224px;
    margin-right: 46px;
    margin-left: 504px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-right: 240px;
    margin-left: 579px;
  }

  .u-section-4 .u-link-1 {
    font-size: 0.875rem;
    margin-top: -12px;
    margin-left: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 349px;
    margin-right: 234px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 280px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 165px;
    margin-left: 411px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 293px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -471px;
    margin-right: 471px;
    margin-left: 166px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -649px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 775px;
    margin-right: 535px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 141px;
    margin-right: 250px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 284px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 130px;
    margin-left: 469px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1672px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 348px;
    margin-right: 54px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 302px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 100px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 198px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 75px;
    margin-left: 321px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 113px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 400px;
    margin-right: 124px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -856px;
    margin-right: 381px;
    margin-left: 76px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: -920px;
    margin-right: 107px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 1046px;
    margin-right: 355px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 70px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 104px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 40px;
    margin-left: 379px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2071px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -116px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: 1935px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -2114px;
    margin-right: 102px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: 602px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-top: 431px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -1385px;
    margin-right: 0;
    margin-left: 196px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 196px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-top: 2560px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: -3026px;
    margin-right: 257px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 721px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -633px;
    margin-right: 155px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -10px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 221px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 219px;
  }

  .u-section-4 .u-link-1 {
    margin-top: -13px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 28px 740px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 42px 741px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 403px;
  height: 232px;
  margin: -33px 0 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -165px 718px 0 28px;
}

.u-section-5 .u-image-1 {
  width: 414px;
  height: 232px;
  margin: -151px 42px 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 28px 0 0 729px;
}

.u-section-5 .u-shape-2 {
  width: 437px;
  height: 234px;
  margin: -204px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 437px;
  height: 237px;
  margin: -289px auto 0 55px;
}

.u-section-5 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 503px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 540px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 541px;
  }

  .u-section-5 .u-shape-1 {
    width: 406px;
    height: 205px;
    margin-top: -26px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -151px;
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
    margin-top: -154px;
    margin-right: 41px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 40px;
    margin-left: 529px;
  }

  .u-section-5 .u-shape-2 {
    width: 365px;
    height: 209px;
    margin-top: -125px;
  }

  .u-section-5 .u-image-2 {
    width: 370px;
    height: 207px;
    margin-top: -247px;
    margin-left: 44px;
  }

  .u-section-5 .u-link-1 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 320px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 321px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 399px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 309px;
  }

  .u-section-5 .u-link-1 {
    height: 32px;
    position: relative;
    width: 57px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 141px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 219px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 42px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 129px;
  }

  .u-section-5 .u-link-1 {
    width: 53px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 176px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 184px;
    margin-left: 0;
  }

  .u-section-5 .u-link-1 {
    width: 45px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 910px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 43px 774px 0 20px;
}

.u-section-6 .u-shape-1 {
  width: 441px;
  height: 233px;
  margin: -33px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -153px 767px 0 34px;
}

.u-section-6 .u-image-1 {
  width: 451px;
  height: 233px;
  margin: -128px 47px 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 407px;
  height: 228px;
  margin: -48px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 423px;
  height: 232px;
  margin: -179px auto 0 47px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -196px 42px 0 686px;
}

.u-section-6 .u-shape-3 {
  width: 396px;
  height: 226px;
  margin: 105px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 409px;
  height: 229px;
  margin: -274px 47px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -181px 759px 0 34px;
}

.u-section-6 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  margin: 53px auto 60px 406px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 614px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 390px;
    height: 175px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -112px;
    margin-right: 600px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 404px;
    height: 198px;
    margin-top: -114px;
    margin-right: 40px;
  }

  .u-section-6 .u-shape-2 {
    height: 210px;
    margin-top: -26px;
  }

  .u-section-6 .u-image-2 {
    height: 216px;
    margin-top: -169px;
    margin-left: 37px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -178px;
    margin-right: 0;
    margin-left: 528px;
  }

  .u-section-6 .u-shape-3 {
    width: 362px;
    height: 220px;
    margin-top: 80px;
  }

  .u-section-6 .u-image-3 {
    width: 365px;
    height: 223px;
    margin-top: -264px;
    margin-left: 528px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -132px;
    margin-right: 593px;
    margin-left: 0;
  }

  .u-section-6 .u-link-1 {
    font-size: 0.875rem;
    margin-top: 47px;
    margin-bottom: 53px;
    margin-left: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 374px;
    margin-left: 20px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 344px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 380px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 47px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 308px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 355px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 373px;
  }

  .u-section-6 .u-link-1 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 194px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 164px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 200px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 128px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 175px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 71px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    margin-top: -172px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: -12px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 167px;
    margin-top: 584px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-2 {
    width: 340px;
    margin-top: -92px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 173px;
    margin-top: -796px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -567px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-3 {
    width: 340px;
    margin-top: 1779px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 208px;
    margin-top: -1571px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: -660px;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 689px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 44px 858px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 44px 0 0;
}

.u-section-7 .u-shape-1 {
  height: 260px;
  width: 394px;
  margin: 90px auto 0 0;
}

.u-section-7 .u-shape-2 {
  width: 474px;
  height: 260px;
  margin: -260px 0 0 auto;
}

.u-section-7 .u-image-1 {
  width: 485px;
  height: 263px;
  margin: -322px 68px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 395px;
  height: 263px;
  margin: -263px auto 0 68px;
}

.u-section-7 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 59px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 39px;
    margin-right: 658px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-7 .u-shape-1 {
    height: 209px;
    width: 382px;
    margin-top: 79px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 368px;
    height: 213px;
    margin-top: -213px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 395px;
    height: 221px;
    margin-top: -259px;
    margin-right: 39px;
  }

  .u-section-7 .u-image-2 {
    width: 379px;
    height: 221px;
    margin-top: -221px;
    margin-left: 41px;
  }

  .u-section-7 .u-link-1 {
    font-size: 0.875rem;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 65px;
    margin-right: 438px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 82px;
  }

  .u-section-7 .u-shape-1 {
    height: 358px;
    margin-top: -545px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 142px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 153px;
    margin-top: 38px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -1097px;
  }

  .u-section-7 .u-link-1 {
    height: 32px;
    position: relative;
    width: 57px;
    margin-top: 797px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: -85px;
    margin-right: 258px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-7 .u-shape-1 {
    height: 343px;
    margin-top: -452px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -14px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 115px;
    margin-top: 174px;
    margin-right: 55px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -1190px;
  }

  .u-section-7 .u-link-1 {
    width: 53px;
    margin-top: 661px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -30px;
    margin-right: 58px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 117px;
  }

  .u-section-7 .u-shape-1 {
    height: 237px;
    width: 340px;
    margin-top: -601px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 340px;
    margin-top: 147px;
  }

  .u-section-7 .u-image-1 {
    width: 170px;
    height: 72px;
    margin-top: -120px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 198px;
    margin-top: -1110px;
    margin-left: 0;
  }

  .u-section-7 .u-link-1 {
    width: 45px;
    margin-top: 955px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 949px;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 56px 900px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-8 .u-shape-1 {
  width: 500px;
  height: 237px;
  margin: 74px auto 0 593px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -288px 1060px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 13px 709px 0 0;
}

.u-section-8 .u-image-1 {
  width: 351px;
  height: 195px;
  margin: -195px 250px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 352px;
  height: 221px;
  margin: -101px 0 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 23px 126px 0 660px;
}

.u-section-8 .u-text-6 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 11px 0 0 660px;
}

.u-section-8 .u-shape-2 {
  width: 405px;
  height: 309px;
  margin: -273px auto 0 47px;
}

.u-section-8 .u-image-3 {
  width: 358px;
  height: 257px;
  margin: -363px auto 0 149px;
}

.u-section-8 .u-image-4 {
  width: 257px;
  height: 269px;
  margin: -118px auto 0 0;
}

.u-section-8 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  margin: -29px auto 45px 593px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 688px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 31px;
  }

  .u-section-8 .u-shape-1 {
    width: 443px;
    height: 209px;
    margin-top: 55px;
    margin-right: 55px;
    margin-left: 440px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -235px;
    margin-right: 860px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 8px;
    margin-right: 628px;
  }

  .u-section-8 .u-image-1 {
    width: 291px;
    height: 193px;
    margin-top: -224px;
    margin-right: 251px;
  }

  .u-section-8 .u-image-2 {
    width: 294px;
    height: 196px;
    margin-top: -93px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 41px;
    margin-right: 44px;
    margin-left: 542px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 8px;
    margin-left: 542px;
  }

  .u-section-8 .u-shape-2 {
    width: 388px;
    height: 284px;
    margin-top: -219px;
    margin-left: 41px;
  }

  .u-section-8 .u-image-3 {
    width: 285px;
    margin-top: -322px;
    margin-left: 185px;
  }

  .u-section-8 .u-image-4 {
    width: 263px;
    height: 263px;
    margin-top: -164px;
  }

  .u-section-8 .u-link-1 {
    font-size: 0.875rem;
    margin-top: -55px;
    margin-right: 286px;
    margin-left: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 568px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 220px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -263px;
    margin-right: 640px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 36px;
    margin-right: 289px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 366px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 366px;
  }

  .u-section-8 .u-shape-2 {
    margin-top: -247px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -294px;
    margin-left: 149px;
  }

  .u-section-8 .u-link-1 {
    margin-right: 66px;
    margin-left: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 426px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: 40px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 460px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 109px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 249px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 186px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 186px;
  }

  .u-section-8 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    margin-left: 185px;
  }

  .u-section-8 .u-link-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 268px;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: -235px;
    margin-right: 260px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 8px;
    margin-right: 28px;
  }

  .u-section-8 .u-image-1 {
    height: 225px;
    margin-right: 49px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    width: 340px;
    margin-top: -275px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -266px;
    margin-left: 55px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 705px;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 53px 997px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-9 .u-shape-1 {
  width: 1019px;
  height: 323px;
  margin: 95px auto 0;
}

.u-section-9 .u-image-1 {
  width: 397px;
  height: 258px;
  margin: -379px 0 0 auto;
}

.u-section-9 .u-image-2 {
  width: 397px;
  height: 258px;
  margin: -258px auto 0 0;
}

.u-section-9 .u-image-3 {
  width: 512px;
  height: 270px;
  margin: -94px auto 0;
}

.u-section-9 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  margin: -428px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-right: 780px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-9 .u-shape-1 {
    height: 272px;
    width: 851px;
  }

  .u-section-9 .u-image-1 {
    width: 306px;
    height: 199px;
  }

  .u-section-9 .u-image-2 {
    width: 306px;
    height: 199px;
  }

  .u-section-9 .u-image-3 {
    width: 415px;
    height: 226px;
  }

  .u-section-9 .u-link-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 787px;
    margin-left: 210px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-9 .u-shape-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 210px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 130px;
  }

  .u-section-9 .u-image-3 {
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 697px;
    margin-left: 300px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-9 .u-shape-1 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-9 .u-image-2 {
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 644px;
    margin-left: 400px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-9 .u-shape-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 400px;
  }

  .u-section-9 .u-image-2 {
    width: 397px;
    margin-top: -221px;
    margin-left: 320px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 185px;
    margin-top: -57px;
    margin-left: 400px;
  }

  .u-section-9 .u-link-1 {
    margin-top: -337px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 676px;
}

.u-section-10 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 26px 1042px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 34px 0 0;
}

.u-section-10 .u-shape-1 {
  width: 464px;
  height: 300px;
  margin: 43px 0 0 auto;
}

.u-section-10 .u-shape-2 {
  width: 462px;
  height: 300px;
  margin: -245px auto 0 0;
}

.u-section-10 .u-image-1 {
  width: 501px;
  height: 300px;
  margin: -355px auto 0 56px;
}

.u-section-10 .u-image-2 {
  width: 462px;
  height: 300px;
  margin: -245px 56px 0 auto;
}

.u-section-10 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 23px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 821px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 38px;
  }

  .u-section-10 .u-shape-1 {
    width: 350px;
    height: 214px;
    margin-top: 33px;
  }

  .u-section-10 .u-shape-2 {
    width: 349px;
    height: 208px;
    margin-top: -168px;
  }

  .u-section-10 .u-image-1 {
    width: 357px;
    height: 214px;
    margin-top: -255px;
    margin-left: 42px;
  }

  .u-section-10 .u-image-2 {
    width: 357px;
    height: 208px;
    margin-top: -168px;
    margin-right: 49px;
  }

  .u-section-10 .u-link-1 {
    font-size: 0.875rem;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 601px;
    margin-left: 263px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-10 .u-shape-1 {
    margin-right: 228px;
  }

  .u-section-10 .u-image-1 {
    margin-left: 279px;
  }

  .u-section-10 .u-image-2 {
    margin-top: -226px;
    margin-right: 293px;
  }

  .u-section-10 .u-link-1 {
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 689px;
    margin-left: 353px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-10 .u-shape-1 {
    margin-right: 318px;
  }

  .u-section-10 .u-shape-2 {
    margin-left: 220px;
  }

  .u-section-10 .u-image-1 {
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    margin-right: 56px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 622px;
    margin-left: 453px;
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-10 .u-shape-1 {
    width: 340px;
    margin-top: 625px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-10 .u-shape-2 {
    width: 340px;
    margin-top: -719px;
    margin-left: 400px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 204px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 198px;
    margin-top: -130px;
    margin-right: 0;
    margin-left: 400px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1097px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  margin: 44px 495px 0 0;
}

.u-section-11 .u-shape-1 {
  width: 382px;
  height: 252px;
  margin: 50px 44px 0 auto;
}

.u-section-11 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -262px 674px 0 40px;
}

.u-section-11 .u-image-1 {
  width: 387px;
  height: 264px;
  margin: -233px 92px 0 auto;
}

.u-section-11 .u-shape-2 {
  width: 370px;
  height: 291px;
  margin: 38px auto 0 40px;
}

.u-section-11 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -257px 65px 0 682px;
}

.u-section-11 .u-image-2 {
  width: 391px;
  height: 282px;
  margin: -263px auto 0 85px;
}

.u-section-11 .u-shape-3 {
  width: 401px;
  height: 260px;
  margin: 126px 57px 0 auto;
}

.u-section-11 .u-image-3 {
  width: 425px;
  height: 285px;
  margin: -333px 110px 0 auto;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -241px 730px 0 40px;
}

.u-section-11 .u-link-1 {
  padding-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  margin: 51px auto 60px 363px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-right: 295px;
  }

  .u-section-11 .u-shape-1 {
    width: 328px;
    height: 184px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -168px;
    margin-right: 530px;
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    width: 335px;
    height: 188px;
    margin-top: -144px;
    margin-right: 42px;
  }

  .u-section-11 .u-shape-2 {
    width: 345px;
    height: 217px;
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -150px;
    margin-right: 0;
    margin-left: 596px;
  }

  .u-section-11 .u-image-2 {
    width: 352px;
    height: 224px;
    margin-top: -196px;
    margin-left: 42px;
  }

  .u-section-11 .u-shape-3 {
    width: 368px;
    height: 203px;
    margin-top: 70px;
    margin-right: 0;
  }

  .u-section-11 .u-image-3 {
    width: 368px;
    height: 208px;
    margin-top: -251px;
    margin-right: 42px;
  }

  .u-section-11 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -188px;
    margin-right: 570px;
    margin-left: 0;
  }

  .u-section-11 .u-link-1 {
    font-size: 0.875rem;
    margin-top: 30px;
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 75px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 310px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 327px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 350px;
  }

  .u-section-11 .u-link-1 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 130px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-11 .u-link-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 248px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -441px;
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    margin-right: 5px;
  }

  .u-section-11 .u-shape-2 {
    width: 340px;
    margin-top: 746px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -856px;
    margin-left: 0;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 216px;
    margin-left: 0;
  }

  .u-section-11 .u-shape-3 {
    width: 340px;
    margin-top: 71px;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 192px;
    margin-top: -253px;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-top: -359px;
    margin-right: 0;
  }
}