.u-section-1 .u-sheet-1 {
  min-height: 1852px;
}

.u-section-1 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 472px;
  height: 270px;
  background-image: none;
  margin: 106px auto 0 607px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -300px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 486px;
  height: 285px;
  margin: -255px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 449px;
  height: 270px;
  background-image: none;
  margin: 61px auto 0 53px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -256px 0 0 582px;
}

.u-section-1 .u-image-2 {
  width: 455px;
  height: 284px;
  margin: -325px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 480px;
  height: 267px;
  background-image: none;
  margin: 125px 53px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -300px 570px 0 0;
}

.u-section-1 .u-image-3 {
  width: 486px;
  height: 282px;
  margin: -282px 0 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 439px;
  height: 255px;
  background-image: none;
  margin: 111px auto 0 53px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -276px 0 0 582px;
}

.u-section-1 .u-image-4 {
  width: 455px;
  height: 271px;
  margin: -292px auto 0 0;
}

.u-section-1 .u-shape-5 {
  width: 465px;
  height: 298px;
  background-image: none;
  margin: 129px auto 0 607px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -340px 585px 0 0;
}

.u-section-1 .u-image-5 {
  width: 486px;
  height: 320px;
  margin: -276px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9855px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 2390px;
    margin-left: 468px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2494px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 309px;
  }

  .u-section-1 .u-shape-2 {
    width: 570px;
    margin-top: 3978px;
    margin-right: 464px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -4183px;
    margin-left: 382px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 5020px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -5572px;
    margin-right: 370px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 76px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 5834px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -6538px;
    margin-left: 382px;
  }

  .u-section-1 .u-image-4 {
    height: 314px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 382px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 7238px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7673px;
    margin-right: 385px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9818px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 2463px;
    margin-left: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2567px;
    margin-right: 350px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 4051px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -4256px;
    margin-left: 162px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 5093px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -5645px;
    margin-right: 150px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 5907px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -6611px;
    margin-left: 162px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -100px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 470px;
    margin-top: 7311px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7746px;
    margin-right: 165px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -276px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 13122px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 5804px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -5908px;
    margin-right: 170px;
  }

  .u-section-1 .u-image-1 {
    height: 356px;
    margin-top: 820px;
  }

  .u-section-1 .u-shape-2 {
    width: 449px;
    margin-top: 6127px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -7571px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -133px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 8613px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -9308px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 706px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 8979px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -8498px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1966px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 11027px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7844px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 14585px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 7090px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7194px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-top: 688px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: 7459px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -8050px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 212px;
    margin-top: -616px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-top: 9485px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -9585px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 197px;
    margin-top: 35px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-top: 10097px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -8813px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 213px;
    margin-top: -2557px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-top: 11805px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -7970px;
  }

  .u-section-1 .u-image-5 {
    width: 270px;
    height: 180px;
  }
}